//colors
$color_rose_bud_cherry_approx: rgba(74, 59, 59, 1);
$black_16: rgba(0, 0, 0, 0.16);
$black_12: rgba(0, 0, 0, 0.12);
$black_20: rgba(0, 0, 0, 0.2);
$black_19: rgba(0, 0, 0, 0.19);
$black_24: rgba(0, 0, 0, 0.24);
$white_20: rgba(255, 255, 255, 0.2);
$white_10: rgba(255, 255, 255, 0.1);
$white: rgb(255, 255, 255);
$white_30: rgba(255, 255, 255, 0.3);

//fonts
$font_0: 'Circular Pro';
$font_1: 'sans-serif';
$font_2: 'Circular Pro';
$font_3: 'sans-serif';
$font_4: 'Circular Pro';
$font_5: 'sans-serif';
$font_6: 'Circular Pro';
$font_7: 'sans-serif';
$font_8: 'Circular Pro';
$font_9: 'sans-serif';
$font_10: 'Circular Pro';
$font_11: 'sans-serif';
